<div class="jumbotron text-center">
  <h1>MediaTrix</h1>
  <p class="lead">Welcome to the MediaTrix Application by <strong>B & G Solutions</strong></p>
  <div>
    <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
    <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Login</a>
    <a *ngIf="authService.loggedIn()" routerLink="/blog" class="btn btn-success">Upload Applicants (CSV File)</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-teacher-312a499a08079a12-512x512.png" alt="placeholder image" width="140" height="140">
      <div class="caption">
        <h3>Bernadine</h3>
        <p>Juliano</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/145/145847.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Charlotte</h3>
        <p>Galarpe</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/145/145843.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Randy</h3>
        <p>Lagdaan</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/544/544534.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Connect</h3>
        <p>to friends</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/718/718968.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Send</h3>
        <p>Requests</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/344/344394.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>View</h3>
        <p>Blogs</p>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="content-wrap">
    <h1>Connect to everyone</h1>
    <h2>MediaTrix brings you closer to your friends from around the world</h2>
  </div>
</div>